.profile__edit-button {
  box-sizing: border-box;
  margin-top: 9px;
  padding: 0;
  min-width: 24px;
  height: 24px;
  background-image: url(../../../images/profile-editor.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: #000;
  transition: .3s ease-in-out;
}

.profile__edit-button:hover {
  opacity: .8;
}

@media screen and (max-width: 640px) {
  .profile__edit-button  {
    min-width: 18px;
    height: 18px;
    margin-top: 0;
    text-align: center;
  }
}
