.popup__input {
  box-sizing: border-box;
  padding: 0;
  display: block;
  width: 358px;
  min-height: 27px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.popup__input:nth-last-of-type(1) {
  margin-top: 30px;
}

@media screen and (max-width: 640px) {
  .popup__input {
    width: 238px;
  }
}
