.profile__avatar-edit-button {
  width: 120px;
  height: 120px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 50%;
  background: transparent;
}

.profile__avatar-edit-button:hover {
  background-image: url(../../../images/vector.svg);
  background-color: rgba(0, 0, 0, .8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px;
  outline: 1px solid black;
  cursor: pointer;
  transition: background-color .3s;
}
