.popup__container {
  box-sizing: border-box;
  background-color: #fff;
  width: 430px;
  height: 330px;
  position: absolute;
  top: 195px;
  left: calc(50% -  215px);
  border-radius: 10px;
}

@media screen and (max-width: 640px) {
  .popup__container {
    top: 120px;
    width: 282px;
    height: 322px;
    left: calc(50% -  141px);
  }
}
