.profile__profession {
  margin: 5px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 640px) {
  .profile__profession  {
    margin-top: 14px;
    text-align: center;
  }
}

