.button_type_popup-close {
  background-image:  url(../../../images/Close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: inherit;
  background-color: transparent;
}
