.profile {
  max-width: 880px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .profile {
    max-width: 581px;
  }
}

@media screen and (max-width: 640px) {
  .profile  {
    margin-top: 42px;
    max-width: 282px;
    flex-direction: column;
  }
}
