.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 0;
  min-height: 73px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 640px) {
  .header {
    min-height: 56px;
    padding-top: 28px;
    max-width: 320px;
  }
}
