.elements {
  margin: 50px auto 0;
  max-width: 880px;
}

@media screen and (max-width: 1023px) {
  .elements {
    max-width: 581px;
  }
}

@media screen and (max-width: 640px) {
  .elements {
    margin-top: 36px;
    max-width: 282px;
  }
}
