.footer {
  margin: 69px auto 0;
  padding-bottom: 60px;
  max-width: 880px;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    margin-top: 50px;
    padding-bottom: 36px;
    max-width: 282px;
  }
}
