.elements__delete {
  width: 18px;
  height: 19px;
  background-image: url(../../../images/trash.svg);
  background-color: transparent;
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
