.popup__close-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: 0;
  position: absolute;
  right: -40px;
  top: -40px;
  background-image:  url(../../../images/Close.svg);
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 640px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    right: 0px;
    top: -30px;
  }
}
