.profile__add-button {
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #fff;
  background-color: #000;
  width: 150px;
  min-height: 50px;
  background-image: url(../../../images/profile-cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 640px) {
  .profile__add-button {
    background-size: 16px 16px;
    margin-top: 33px;
    width: 282px;
  }
}
