.profile__info-name {
  box-sizing: border-box;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  /* or 114% */
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


@media screen and (max-width: 1023px) {
  .profile__info-name {
    font-size: 27px;
    line-height: 33px;
  }
}

@media screen and (max-width: 640px) {
  .profile__info-name {
    padding-left: 18px;
  }
}

