.profile__info-block {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 18px;
}

@media screen and (max-width: 640px) {
  .profile__info-block {
    padding-left: 10px;
  }
}
