.popup__input {
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 0;
  display: block;
  width: 358px;
  min-height: 30px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

@media screen and (max-width: 640px) {
  .popup__input {
    min-height: 32px;
    width: 238px;
  }
}
