.button_place_popup {
  box-sizing: border-box;
  margin: 0;
  width: 32px;
  height: 32px;
  position: inherit;
  border: 0;
  transform: translate(438px, -40px);
}

@media screen and (max-width: 640px) {
  .button_place_popup {
    width: 20px;
    height: 20px;
    transform: translate(262px, -32px);

  }
}
