.popup {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 2;
  display: block;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity .5s ease-out;
}

